[submodule "libraries/TwelitePacket"]
	path = libraries/TwelitePacket
	url = git@github.com:team-dauntless-uncharted/twelite_packet.git
[submodule "libraries/BNO055Library"]
	path = libraries/BNO055Library
	url = git@github.com:team-dauntless-uncharted/BNO055Library.git
[submodule "libraries/ArduinoJson"]
	path = libraries/ArduinoJson
	url = git@github.com:bblanchon/ArduinoJson.git
