[submodule "libraries/TwelitePacket"]
	path = libraries/TwelitePacket
	url = git@github.com:team-dauntless-uncharted/twelite_packet.git
[submodule "libraries/PosixAvi"]
	path = libraries/PosixAvi
	url = git@github.com:team-dauntless-uncharted/PosixAvi.git
[submodule "libraries/BNO055Library"]
	path = libraries/BNO055Library
	url = git@github.com:team-dauntless-uncharted/BNO055Library.git
[submodule "libraries/ArduinoJson"]
	path = libraries/ArduinoJson
	url = git@github.com:bblanchon/ArduinoJson.git
[submodule "libraries/a_parts_detection_inferencing"]
	path = libraries/a_parts_detection_inferencing
	url = git@github.com:team-dauntless-uncharted/a_parts_detection.git
